[Desktop Entry]
Version=1.0
Name=Reports
Comment=Shortcut to reports folder
Exec=nautilus /home/bank-of-ceylon/StationeryManager/invoices
Icon=folder
Terminal=false
Type=Application
Categories=Utility;
